.signup__container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 1%;
}
.signup__box {
  border: 2px solid #e52e7157;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top right, #1ab0eca1, transparent);
}
.signup__title {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup__heading {
  font-size: 2rem;
  text-transform: capitalize;
}
/* miscellaneous */
.link__item {
  text-decoration: none;
  font-size: 0.69rem;
  font-weight: bold;
  color: #e2f818;
}
.link__item:hover {
  transform: scale(1.2);
  transition: all 0.1s;
}
.alert__box {
  color: rgb(240, 40, 13);
  font-weight: bolder;
}
