.guide__container {
  margin: 10%;
  text-align: center;
}
.input__container {
  display: inherit;
  align-items: center;
  margin: auto;
}
.add__link-button {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1.1rem;
  background-color: #e0045557;
  color: whitesmoke;
  border-radius: 1.2rem;
}
.recipe__guess-form {
  display: flex;
  flex-direction: column;
}
