.guide__container {
  padding: 12% 0;
  text-align: center;
  background: radial-gradient(circle at bottom, #252f3da1, transparent 40%);
}
.ingredient__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input__container {
  display: inherit;
  align-items: center;
  margin: auto;
}
.input__container > .add__link-button {
  margin-left: 1rem;
}
.add__link-button {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1.1rem;
  background-color: #e0045557;
  color: whitesmoke;
  border-radius: 1.2rem;
  z-index: 1;
}
.recipe__guess-form {
  display: flex;
  flex-direction: column;
}
