.login__container {
  display: flex;
  margin: 3rem;
  justify-content: center;
  padding: 6.6rem;
}
.login__box {
  padding: 5rem;
  margin: 0 25%;
  border-radius: 2rem;
  border: 2px solid rgb(85, 85, 153);
  max-width: 80%;
  text-align: center;
  background: repeating-radial-gradient(
    ellipse at bottom,
    rgba(241, 194, 241, 0.021),
    #ec61a69c,
    #9c8b9b80,
    transparent 90%
  );

  color: white;
  width: 50%;
}
.login__heading {
  font-size: 2rem;
  font-weight: 700;
}
.login__title {
  margin: 1rem;
  text-transform: capitalize;
}
.input__box {
  border-radius: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid black;

  width: 35%;
}
.input__box:focus {
  transform: scale(1.01);
  transition: all 0.2s;
  outline: none;
}
.input__box:placeholder-shown {
  font-size: 1.01rem;
}
.view__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__submit {
  text-align: center;
  border-radius: 2rem;
  padding: 0.8rem 2rem;

  color: white;
  background-color: #e52e71;
  display: inline-block;
}
.form__submit:hover {
  transform: translateY(-0.1rem) scale(1.2);
  transition: all 0.2s;
}
.form__submit:active {
  transform: translateY(0);
}
