.login__container {
  display: flex;
  flex-wrap: wrap;
  margin: 10%;
  justify-content: center;
  text-align: center;
}
.login__box {
  padding: 5rem;
  border-radius: 2rem;
  border: 2px solid rgb(85, 85, 153);
  display: flex;
  flex-direction: column;
  background: repeating-radial-gradient(
    ellipse at bottom,
    rgba(241, 194, 241, 0.021),
    #ec61a69c,
    #9c8b9b80,
    transparent 90%
  );

  color: white;
  width: auto;
}
.login__heading {
  font-size: 2rem;
  font-weight: 700;
}
.login__title {
  margin: 1rem;
  text-transform: capitalize;
}
.login__body {
  margin: 5%;
}
.input__box {
  border-radius: 10rem;
  padding: 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 0.1rem solid black;
}
.input__box:placeholder-shown {
  transform: scale(0.85);
  transition: all 0.2s ease-in;
}
.input__box:focus {
  transform: scale(1.02);
  transition: all 0.2s;
  outline: none;
}
.view__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__submit {
  text-align: center;
  border-radius: 2rem;
  padding: 0.8rem 2rem;

  color: white;
  background-color: #e52e71;
  display: inline-block;
}
.form__submit:hover {
  transform: translateY(-0.1rem) scale(1.2);
  transition: all 0.2s;
}
.form__submit:active {
  transform: translateY(0);
}
