.recipe__head {
  background: #64103f;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border-radius: 2rem;
  margin: 2rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recipe__head > h1 {
  margin-right: 5%;
}
.recipe__head > svg:hover {
  transform: scale(1.25);
}
.recipe__head > svg:active {
  transform: scale(1);
}
.recipe__head > svg {
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.recipe__body {
  display: flex;
  text-align: center;
  margin: auto 5%;
  margin-bottom: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
.recipe__body > .recipe__image {
  margin: auto;
}
.recipe__body > .recipe__image > img {
  border-radius: 2rem;
}
.recipe__ingredients {
  font-size: 1.2rem;
  margin: auto;
}
.ingredients:not(:last-child) {
  margin-bottom: 1rem;
}
.recipe__info {
  display: inherit;
  margin: auto 2rem;
  font-size: medium;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe__info > p {
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid salmon;
  border-radius: 2rem;
  border-left: none;

  text-transform: capitalize;
}
.recipe__info > p:not(:last-child) {
  margin: 1rem;
}
.recipe__instructions {
  font-size: 1.1rem;
  margin: auto 2rem;
  background-color: #641040b2;
  border-radius: 2rem;
}
.recipe__heading {
  text-align: center;
  text-transform: uppercase;
}
.recipe__instructions > ul {
  list-style: circle;
}
.recipe__instructions > ul > li {
  margin: 2rem;
  text-transform: capitalize;
}
.login__error {
  text-align: center;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgb(218, 4, 75);
  border-radius: 1.7rem;
}
.list-items {
  list-style: none;
  padding-left: 2rem;
}
