/*Animations */

@keyframes drop {
  0% {
    box-shadow: 0.11rem 0.11rem 1rem;
  }
  50% {
    box-shadow: 0.01rem 0.01rem 5rem;
  }
  100% {
    box-shadow: 0.11rem 0.11rem 1rem;
  }
}
@keyframes load_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Properties*/
.loading__container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  width: auto;
  text-align: center;
}
.loader {
  padding: 5% 20%;
  margin: 10% 0;
  font-size: 8rem;
  color: #df028a;
  animation: load_ring 2s ease-in-out infinite;
}
.color-switch {
  display: flex;
  margin-right: 12%;
  margin-bottom: 5%;
  justify-content: flex-end;
}
.color-switch > select:nth-child(1) {
  background-color: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(167, 164, 4);
  font-size: 1.2rem;
  font-weight: 800;
  outline: none;
  padding: 20px;
  border: 0.25rem solid sienna;
  border-style: outset;
  border-radius: 20rem;
}
.color-switch > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
/* For IE10 */
.color-switch > select::-ms-expand {
  display: none;
}
body {
  background: black;
}
.App {
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(0.1px) brightness(1.2) saturate(1);
}
.bg__video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: radial-gradient(
    circle at bottom,
    #000,
    rgb(37, 35, 35) 20%,
    transparent 360rem
  );
}
.fullscreen-bg__video {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;
}
/* Header CSS */

.menu__items {
  margin: 1rem 1rem;
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  top: 0;
  flex-flow: wrap-reverse;
  z-index: 1;
}

.menu__items {
  padding: 1rem 0rem;
}

.menu__items-item {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}
.menu__items-item:hover {
  transition: all 1s;
  border-radius: 20rem;
  box-shadow: 0.1rem 0.1rem;
}
.item-right {
  margin-left: auto;
  margin-right: 7rem;
  display: flex;
}
.m-right {
  border: 0.21rem solid black;
  border-radius: 5rem;
}
.m-right:hover {
  background-color: #e52e71;
  transition: all 0.2s;
}

/*Footer CSS*/
.main__footer-container {
  background: radial-gradient(
    circle at top,
    rgba(61, 11, 34, 0.582),
    #e52e7157,
    #e948a124,
    transparent 80%
  );
  font-size: 0.8rem;
  padding: 2rem 10rem;
  min-height: 100%;
}
.main__footer-row {
  display: flex;

  justify-content: space-evenly;
}
.main__footer-column {
  margin: 1rem;
}
.main__footer-heading {
  font-size: 1.2rem;
  font-weight: 600;
}
.main__footer-links {
  display: flex;
  flex-direction: column;
}
.footer-item {
  color: #e52e71;
  font-weight: bold;
  text-decoration: none;
  margin: 0.5rem 0;
}
.footer-item:hover {
  transform: scale(1.2) rotate(-2deg);
  transition: all 0.1s;
  line-height: 1.5rem;
  animation: drop 2s reverse ease-in;
}

/* common */
.search__list {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}
.recipe__container {
  display: flex;
  color: whitesmoke;
  background: radial-gradient(
    circle at center bottom,
    #201d3856,
    transparent 80%
  );
  flex-direction: column;
  padding: 5% 10%;

  min-height: 100%;
}
.recipe__rating {
  font-size: medium;
  color: initial;
  font-weight: bold;
}
.recipe__category {
  font-size: medium;
  text-align: center;
  word-break: break-word;
}
.recipe__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipe__card {
  margin: 1.5rem 0;
  padding: 0.4rem 2.5rem 1rem 2.5rem;
  background: linear-gradient(to top right, #030c8fc7, #ca064e);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 50rem;
  min-height: auto;
  width: 18rem;
  min-width: auto;
}
.recipe__title {
  display: flex;
  border-bottom: 0.1rem solid whitesmoke;
  justify-content: space-evenly;
  align-items: flex-end;
}
.recipe__title > h5 {
  font-size: 1.2rem;
}
.recipe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}
.recipe__image {
  min-width: 16rem;
  width: auto;
  max-width: calc(50% - 16rem);
}
.recipe__image > img {
  max-height: 100%;
  max-width: 100%;
}
/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  margin: 5rem 0;
}
.menu__pages {
  text-align: center;
  font-size: 1.2rem;
}
.page_no {
  display: inline-block;
  text-decoration: none;
  color: rgb(231, 236, 227);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(25, 8, 66, 0.897);
}
.page_no:hover {
  transform: translateY(-0.3rem) scale(1.1);
}
.page_no:active {
  transform: none;
}
.recipe__button {
  padding: 1.2rem;
  margin: auto;
  margin-bottom: 2rem;
  display: inline-block;
  text-decoration: none;
  color: antiquewhite;
  border-radius: 10%;
  font-size: large;
  background-color: #ca064e;
}
.recipe__button:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
/* FAILED MESSAGES */
.failed__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 25%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.goback-button {
  padding: 1.2rem;
  margin: auto;
  margin-bottom: 2rem;
  display: inline-block;
  text-decoration: none;
  color: antiquewhite;
  border-radius: 10%;
  font-size: 2.5rem;
  background-color: #0c8b32;
}
.failed__body {
  background: linear-gradient(
    to right,
    rgba(220, 20, 60, 0.35),
    rgba(255, 0, 0, 0.46)
  );
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
}
.failed__message {
  font-size: 3rem;
}
.failed-icon {
  color: rosybrown;
  font-size: 5rem;
}
.ingredients {
  text-align: left;
  font-family: "Open Sans", "Comic Sans MS", "Zapf Chancery", Helvetica, Roboto,
    "Proxima Nova", "Sans-Serif";
}
.item-checked {
  list-style: none;
}
.item-checked::before {
  content: "✔ ";
  font-size: 1.2rem;
  font-weight: bolder;
  color: #0c8b32;
}
.not-checked {
  list-style: none;
}
.not-checked::before {
  content: "❌ ";
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ca064e;
}

/*MEDIA for mobiles */
@media only screen and (max-width: 850px) {
  .menu__items {
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 0.25rem;
  }
  .item-right {
    justify-content: center;
    margin: auto;
    margin-top: 0.25rem;
    padding: 0;
    flex-direction: column;
  }
  .m-right {
    margin: 0.25rem;
  }
  .color-switch {
    justify-content: center;
    margin: 0.5rem;
  }
}
