.App {
  width: 100%;

  position: absolute;
  top: 0;
  background: radial-gradient(
    circle at bottom,
    rgb(31, 30, 30),
    rgb(37, 35, 35) 10%,
    transparent 60rem
  );
  backdrop-filter: blur(0.1rem) brightness(2) saturation(10);
}
/* Header CSS */
.menu__items {
  margin: 1rem 1rem;
  margin-top: 0;
  padding: 1rem 0rem;
  font-size: large;
  font-weight: 700;
  display: flex;
  top: 0;
  flex-flow: wrap;
  z-index: 1;
}
.menu__items-item {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}
.menu__items-item:hover {
  animation: drop 1s ease-out reverse infinite;
  transition: all 2s;
  border-radius: 20rem;
}
.item-right {
  margin-left: auto;
  margin-right: 7rem;
  display: flex;
}
.m-right {
  border: 0.21rem solid black;
  border-radius: 5rem;
}
.m-right:hover {
  background-color: #e52e71;
  transition: all 0.2s;
}

@keyframes drop {
  0% {
    border-bottom: 0.25rem solid white;
  }
  50% {
    border-radius: 20rem;
    border-bottom: 0.1rem solid white;
  }
  100% {
    border-bottom: 0.2rem solid white;
  }
}

/*Footer CSS*/
.main__footer-container {
  background-color: rgb(31, 30, 30);
  font-size: 0.8rem;
  padding: 2rem 10rem;
}
.main__footer-row {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
.main__footer-heading {
  font-size: 1rem;
}
.main__footer-links {
  display: flex;
  flex-direction: column;
}
.footer-item {
  color: #e52e71;
  text-decoration: none;
  margin: 0.5rem 0;
}
.footer-item:hover {
  transform: scale(1.2) rotate(-2deg);
  transition: all 0.1s;
}
